
/*Custom properties*/

*,
*::before,
*::after{
box-sizing: border-box;
}

:root{
    --ff-primary: 'Karla', sans-serif;
    --ff-secondary: 'Spectral', serif;
   
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2:2.35rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
          0.125em 0.125em 0.25em rgba(0, 0, 0, .15);

}

@media (min-width: 800px){
:root {
    --fs-h1: 4.5rem;
    --fs-h2:3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
}
}

/*General styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

nav{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-brand{
    margin-left: 50px;
}

.nav-item{
    margin-top: 5px;
   padding: 10px;
   width: 100%;
   
}

.nav-item:hover{
    font-weight: bolder;
    background-color:#16e0bd;
    cursor:pointer;
    transition: 0.3s ease-in;
    }


section{
    padding: 5em 2em;
}

img{
    display:block;
    max-width: 100%;
    }

   
     #home{
        margin-top: 50px;
     }

/*Typography*/

h1,
h2,
h3{
    line-height: 1;
    margin:0;
    text-align: center;
    }

    h1{font-size: var(--fs-h1);}
    h2{font-size: var(--fs-h2);}
    h3{font-size: var(--fs-h3);}


.section__title{
margin-bottom: .25em;
font-weight: var(--fw-reg);
}

.section__subtitle--intro{
    font-weight: var(--fw-reg);
}
.section__subtitle{
  margin:0;
  font-size: var(--fs-h3);
}    

.section__subtitle--intro {
    background-color: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;

}

/*Intro section*/

nav{
    display: none;
}

.intro{
    position: relative;
}

.section__title--intro strong{
    display: block;
    font-weight: bold;
}

.listoflabels{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;;
}

.label{
    background-color: yellow;
    width: 80px;
    height: 80px;
}

.label_row{
    display: flex;
    gap: 2rem;
}

.portfolio_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    gap: 2rem;
   }



.card {
    width: 400px;
    height: 600px;
    border:none;
    border-radius: 30px;
    background: #f7f5f5;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
               overflow: hidden;
               transition: 0.2s;           
  }

  .card:hover {
    transform: translateY(-0.6%);
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  }

  .card_img {
    display: block;
    width: 100%;
    object-fit: cover;
      }

    .project_name{
 font-size: 2rem;
  font-weight: 500;
  color: #0d0d0d;
  margin: 1.5rem;
    }  

    .badges{
        display: flex;
        flex-wrap: wrap;
        object-fit: cover;
        justify-content: center;
    }

    .card_text {
        font-size: 1rem;
        letter-spacing: 0.1rem;
        line-height: 1.7;
        color: #666666;
        margin-left: 1.5rem;
      }

  .buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
      }

      a{
        text-decoration: none;
      }

  .btn-2,
  .btn-2 *,
  .btn-2 :after,
  .btn-2 :before,
  .btn-2:after,
  .btn-2:before {
    border: 0 solid;
    box-sizing: border-box;
  }
  .btn-2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #16e0bd;;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#474747, #fff);
    padding: 0;
    text-transform: uppercase;
  }
  .btn-2:disabled {
    cursor: default;
  }
  .btn-2:-moz-focusring {
    outline: auto;
  }
  .btn-2 svg {
    display: block;
    vertical-align: middle;
  }
  .btn-2 [hidden] {
    display: none;
  }
  .btn-2 {
    border-radius:0.4rem;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
  }
  .btn-2 span {
    mix-blend-mode: difference;
  }
  .btn-2:before {
    background: #2feb7d;
    content: "";
    inset: 0;
    position: absolute;
    transform: translateX(var(--progress, -100%));
    transition: transform 0.2s ease;
  }
  .btn-2:hover:before {
    --progress: 0;
  }


  .github_btn {
    display: block;
    padding: 0.8rem;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: rgb(119, 119, 119);
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
  }
  .github_btn span {
    margin-left: 1rem;
    transition: 0.2s;
  }
  .github_btn:hover, .github_btn:active {
    background: var(--clr-dark); 
  }
  .github_btn:hover span, .github_btn:active span {
    margin-left: 1.5rem;
  }


.picture{
    box-shadow: var(--bs);
}

.section__subtitle--intro{
    display:inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        'img title'
        'img subtitle';
        grid-template-columns: min-content max-content;
            }

     .picture{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
     }   
     .section__subtitle--intro  {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
     }  
}

/* About me */

.about-me{
    background-color: var(--clr-dark);
    background-image: url(office.jpeg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}


.section__subtitle--about{
    position: relative;
    color: var(--clr-accent);
    font-weight: bold;
}

.section__subtitle--about::after{
    content: " ";
    display: block;
    width: 2em;
    height: 1.5px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
}


.social-links-top{
    margin-top: 30px;
    list-style: none;
    font-size: 35px;
    letter-spacing: 2rem;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
      
   
}

.social-links-top a {
    margin: 5px;
    color: #a2a2a2;
   
}
.social-links-top a:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: rgba(0, 0, 0, 0.638) 0px 3px 7px;
}





.social-links{
    background-color: #16e0bd ;
    list-style: none;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.social-links a {
    margin: 10px;
    color: #fff;
}
.social-links a:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: scale(1.2);
}


footer{
    display: flex;
    justify-content: center;
    
}

#return-to-top i{
font-size: 50px;
    cursor: pointer;
    color: #1f2221;
    position: relative;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

